<section class="content">
  <div class="section-wrapper">
    <div class="section-header">
      <h2>Músicas em alta</h2>
      <a href="#VerTudo" class="see-all">Ver tudo</a>
    </div>
    <div class="scroll-container trending-music">
      <div
        class="album-card"
        *ngFor="let song of trendingSongs"
        [title]="song.name + ' - ' + song.artist"
      >
        <img [src]="song.image" [alt]="'Capa da música ' + song.name" />
        <h3>{{ song.name }}</h3>
        <p>{{ song.artist }}</p>
      </div>
    </div>
  </div>

  <div class="section-wrapper">
    <div class="section-header">
      <h2>Artistas Populares</h2>
      <a href="#VerTudo" class="see-all">Ver tudo</a>
    </div>
    <div class="scroll-container popular-artists">
      <div
        class="artist-card"
        *ngFor="let artist of artists"
        [title]="artist.name"
      >
        <img [src]="artist.image" [alt]="'Imagem de ' + artist.name" />
        <h3>{{ artist.name }}</h3>
        <p>Artista</p>
      </div>
    </div>
  </div>

  <div class="section-wrapper">
    <div class="section-header">
      <h2>Singles e álbuns que todo mundo gosta</h2>
      <a href="#VerTudo" class="see-all">Ver tudo</a>
    </div>
    <div class="scroll-container single-album">
      <div
        class="album-card"
        *ngFor="let album of albums"
        [title]="album.name + ' - ' + album.artist"
      >
        <img [src]="album.image" [alt]="'Capa do álbum ' + album.name" />
        <h3>{{ album.name }}</h3>
        <p>{{ album.artist }}</p>
      </div>
    </div>
  </div>

  <div class="section-wrapper">
    <div class="section-header">
      <h2>Paradas em destaque</h2>
      <a href="#VerTudo" class="see-all">Ver tudo</a>
    </div>
    <div class="scroll-container featured-stops">
      <div
        class="album-card"
        *ngFor="let item of highlightStop; let i = index"
        [title]="item.name"
      >
        <img [src]="item.image" alt="Imagem de exemplo" />
        <h3>{{ item.name }}</h3>
      </div>
    </div>
  </div>

  <div class="section-wrapper">
    <div class="section-header">
      <h2>Bons sonhos</h2>
      <a href="#VerTudo" class="see-all">Ver tudo</a>
    </div>
    <div class="scroll-container sweet-dreams">
      <div
        class="album-card"
        *ngFor="let item of sweetDreams; let i = index"
        [title]="item.name"
      >
        <img [src]="item.image" alt="Imagem de exemplo" />
        <h3>{{ item.name }}</h3>
      </div>
    </div>
  </div>
</section>
