.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.main-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

main {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.background {
  padding: 10px 10px;
}
