<nav class="sidebar">
  <div class="sidebar-top">
    <div class="library">
      <p>Sua biblioteca</p>
      <button>+</button>
    </div>
  </div>

  <div class="sidebar-content">
    <div class="playlists">
      <h5>Crie sua primeira Playlist</h5>
      <p>É fácil, vamos te ajudar</p>
      <button>Criar Playlist</button>
    </div>

    <div class="podcast">
      <h5>Que tal seguir um Podcast?</h5>
      <p>Avisaremos você sobre nossos episódios</p>
      <button>Explore Podcasts</button>
    </div>
  </div>

  <div class="sidebar-footer">
    <div class="footer-links">
      <a href="#Legal">Legal</a>
      <a href="#SegurancaCentroPrivacidade">Segurança e Centro de privacidade</a>
      <a href="#PoliticaPrivacidade">Política de privacidade</a>
      <a href="#Cookies">Cookies</a>
      <a href="#SobreAnuncios">Sobre anúncios</a>
      <a href="#Acessibilidades">Acessibilidades</a>
    </div>
    <button class="cookies-button">Cookies</button>

    <button class="language">
      <img src="assets/icons/globe.svg" alt="Logo do Globo" />
      Português do Brasil
    </button>
  </div>
</nav>
